{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
    <h1>Congratulations!!!</h1>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">You answered all the questions</div>
        </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{ test_result.test.title }}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Correct answers</td>
                        <td>{{ test_result.num_correct_answers }} / {{ test_result.test.questions.count }}</td>
                      </tr>
                      <tr>
                        <td>Score</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:{{ test_result.score }}%" aria-valuenow="{{ test_result.score }}" aria-valuemin="0" aria-valuemax="100">{{ test_result.score|floatformat:2 }}%</div>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Time spent</td>
                        <td>{{ test_result.time_spent }}</td>
                      </tr>
                      <tr>
                        <td>Time finished</td>
                        <td>{{ test_result.write_date }}</td>
                      </tr>
                      <tr>
                        <td>Points</td>
                        <td>{{ test_result.points }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="{% static 'common/img/finish.jpg' %}">
                </div>

                <div class="d-flex justify-content-center mt-5 mb-5" >
                    <a href="{% url 'tests:list' %}" type="button" class="btn-lg btn-success">START ANOTHER TEST ▶️</a>
                </div>

            </div>
        </div>
    </div>

<!--    <div class="col-sm">-->
<!--        {% for question in questions %}-->
<!--            <h3>For the question: "{{question}}"</h3>-->
<!--            {% for user_response in user_responses %}-->
<!--                {% if question.id == user_response.question.id %}-->
<!--                    <h3>You answered: "{{user_response}}"</h3>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--        {% endfor %}-->
<!--    </div>-->

{% endblock %}
