{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>title</title>
{% endblock %}

{% block header%}
<h3>Send message</h3>
{% endblock %}

{% block content %}

    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input type="submit" class="btn btn-success" value="Send">
        <a class="btn btn-light" href="{% url 'core:index' %}">Home</a>
    </form>

{% endblock %}
