<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% block title%}
    <title>Tests</title>
{% endblock %}
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

<body>

{%url 'tests:list' as List %}
{%url 'accounts:leaderboard' as Leaderboard %}
{%url 'accounts:users' as Users %}
{%url 'accounts:profile' as Profile %}
{%url 'accounts:register' as Register %}
{%url 'accounts:login' as Login %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:index' %}">Testify</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
            <ul class="navbar-nav ">

                {% if user.is_authenticated %}

                <li class="nav-item {% if request.path == List %} active {% endif %}">
                    <a class="nav-link" href="{% url 'tests:list' %}">Tests</a>
                </li>
                <li class="nav-item {% if request.path == Leaderboard %} active {% endif %}">
                    <a class="nav-link" href="{% url 'accounts:leaderboard' %}">Leaderboard</a>
                </li>
                <li class="nav-item {% if request.path == Users %} active {% endif %}">
                    <a class="nav-link" href="{% url 'accounts:users' %}">Users</a>
                </li>

                <li class="nav-item {% if request.path == Profile %} active {% endif %}">
                    <a class="nav-link" href="{% url 'accounts:profile' %}">Profile ({{ user.username }})</a>
                </li>

                <li class="img-circle.vert">
                    <img class="rounded-circle p-1 m-1" width="40" height="40" src=" {{ user.image.url }} ">
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:contact_us' %}">Contact us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
                </li>

                {% else %}

                <li class="nav-item {% if request.path == Register %} active {% endif %}">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                </li>

                <li class="nav-item {% if request.path == Login %} active {% endif %}">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>

                {% endif %}

            </ul>
      </div>
    </div>
</nav>
</div>

{% include 'includes/messages.html' %}

<div class="container">
    <div class="border border-white rounded-pill shadow p-3 mb-5 mt-5 bg-white rounded text-center">
        {% block header %}
            <h3>Welcome</h3>
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}
</div>

</body>
</html>